In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report
from sklearn.feature_extraction.text import TfidfVectorizer

In [10]:
!pip install kagglehub

Collecting kagglehub
  Downloading kagglehub-0.3.12-py3-none-any.whl (67 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 68.0/68.0 kB 2.6 MB/s eta 0:00:00
Requirement already satisfied: packaging in /Users/jarvis/Desktop/machinelearning_project/env/lib/python3.11/site-packages (from kagglehub) (23.0)
Requirement already satisfied: pyyaml in /Users/jarvis/Desktop/machinelearning_project/env/lib/python3.11/site-packages (from kagglehub) (6.0)
Requirement already satisfied: requests in /Users/jarvis/Desktop/machinelearning_project/env/lib/python3.11/site-packages (from kagglehub) (2.29.0)
Requirement already satisfied: tqdm in /Users/jarvis/Desktop/machinelearning_project/env/lib/python3.11/site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/jarvis/Desktop/machinelearning_project/env/lib/python3.11/site-packages (from requests->kagglehub) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/jarvis/Desktop/machinelearning_project/env/lib/python3.11/site-packages (from requests->kagglehub) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/jarvis/Desktop/machinelearning_project/env/lib/python3.11/site-packages (from requests->kagglehub) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jarvis/Desktop/machinelearning_project/env/lib/python3.11/site-packages (from requests->kagglehub) (2023.5.7)
Installing collected packages: kagglehub
Successfully installed kagglehub-0.3.12

In [11]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("kazanova/sentiment140")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/kazanova/sentiment140?dataset_version_number=2...

100%|██████████████████████████████████████| 80.9M/80.9M [00:06<00:00, 12.5MB/s]

Extracting files...

Path to dataset files: /Users/jarvis/.cache/kagglehub/datasets/kazanova/sentiment140/versions/2

In [14]:
df = pd.read_csv("/Users/jarvis/.cache/kagglehub/datasets/kazanova/sentiment140/versions/2/training.1600000.processed.noemoticon.csv",encoding = 'latin-1',header = None)
df.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [15]:
df.shape

(1600000, 6)

In [17]:
len(df)

1600000

In [18]:
df.columns = ["sentiment","id","date","query","user","text"]
df.tail()

,sentiment,id,date,query,user,text
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [19]:
df.dropna()

,sentiment,id,date,query,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [25]:
main_df1 = df.drop("id",axis=1)
main_df2 = main_df1.drop("date",axis=1)
main_df3 = main_df2.drop("query",axis=1)
main_df = main_df3.drop("user",axis=1)
main_df.head()

   sentiment                                               text
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....

In [26]:
main_df['sentiment'].value_counts()

sentiment
0    800000
4    800000
Name: count, dtype: int64

In [27]:
X = main_df["text"]
y = main_df["sentiment"]
y.value_counts()

sentiment
0    800000
4    800000
Name: count, dtype: int64

In [32]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=18)

In [38]:
# Step 1: Initialize vectorizer
tfidf = TfidfVectorizer(stop_words='english', max_df=0.7)

tfidf.fit_transform(X_train)

X_train_tfidf = tfidf.transform(X_train)

In [42]:
clf = LogisticRegression(max_iter=1000)
model = clf.fit(X_train_tfidf,y_train)
model.score(X_test_tfidf,y_test)

0.782153125

In [44]:
y_pred = clf.predict(X_test_tfidf)
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 0.782153125
              precision    recall  f1-score   support

           0       0.80      0.76      0.78    160368
           4       0.77      0.80      0.79    159632

    accuracy                           0.78    320000
   macro avg       0.78      0.78      0.78    320000
weighted avg       0.78      0.78      0.78    320000

In [53]:
# !pip install joblib
import joblib
joblib.dump(clf,'sentiment_model.pkl ')
joblib.dump(tfidf,'tfidf_vectorizer.pkl')

['tfidf_vectorizer.pkl']

In [54]:
import os
os.listdir()

['tfidf_vectorizer.pkl',
 'sentiment_model.pkl ',
 'Fake-News.ipynb',
 'app.py',
 '.ipynb_checkpoints']

In [55]:
import os
os.rename("sentiment_model.pkl ", "sentiment_model.pkl")